<app-modal-periodo-reservas></app-modal-periodo-reservas>

<app-modal-nuevo [modo]="modo" (entidadCreada)="reloadTable()"></app-modal-nuevo>
<app-modal-editar [modo]="modo" [idEntidad]="getIdEntidadSeleccionada()" (entidadActualizada)="reloadTable()"></app-modal-editar>
<app-modal-filtro [modo]="modo"></app-modal-filtro>
<app-modal-ver [modo]="modo" [idEntidad]="getIdEntidadSeleccionada()" (estadoActualizado)="reloadTable()"></app-modal-ver>

<div class="d-flex">
  <div class="content w-100 p-5">
    <div class="d-flex justify-content-between align-items-center">
      <h2 class="mb-0 d-flex align-items-center">
        {{ modo | titlecase }}
        <button *ngIf="modo === 'reservas'" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#gestionReservas">
          Gestionar Periodo
        </button>
        <div *ngIf="isLoadingTable" class="spinner-border text-primary ms-3" role="status" style="width: 1.5rem; height: 1.5rem;">
          <span class="visually-hidden">Cargando...</span>
        </div>
      </h2>
      <div class="d-flex justify-content-end align-items-center gap-2 mb-2">
        <button class="btn btn-sm" data-bs-toggle="modal" [attr.data-bs-target]="'#filtro' + modo">
          <i class="fas fa-search" style="font-size: 24px; color: blue;"></i>
        </button>
        <button class="btn btn-primary btn-sm" *ngIf="modo === 'libros' || modo === 'editoriales'" data-bs-toggle="modal" [attr.data-bs-target]="'#nuevo' + modo">
          + Añadir {{ modo === 'libros' ? 'libro' : 'editorial' }}
        </button>
      </div>
    </div>

    <div class="table-container">
      <!-- Switch para filtrar activos/todos -->
      <div class="filtro-estado-container mb-3 d-flex align-items-center">
        <span class="me-2">Mostrar:</span>
        
        <div class="filtro-switch-group">
          <span [class.active]="filtroEstado === 'activo'" (click)="cambiarFiltroEstado('activo')">Activos</span>
          <label class="switch mx-2">
            <input type="checkbox" [checked]="filtroEstado === 'todos'" (change)="toggleFiltroEstado($event)">
            <span class="slider round"></span>
          </label>
          <span [class.active]="filtroEstado === 'todos'" (click)="cambiarFiltroEstado('todos')">Todos</span>
        </div>
        
        <small class="text-muted ms-auto">
          <i class="fas fa-info-circle me-1"></i> También puedes escribir <strong>"activo"</strong> o <strong>"inactivo"</strong> en el buscador.
        </small>
      </div>
      
      <!-- Tabla Libros -->
      <table datatable [dtOptions]="dtOptions" *ngIf="modo === 'libros'" 
            id="tablaLibros"
            class="table table-bordered table-hover table-striped" 
            style="border: 2px solid #6C8EBF;">
        <thead>
          <tr class="table-primary">
            <th></th>
            <th class="text-center">Nombre</th>
            <th class="text-center">ISBN</th>
            <th class="text-center">Editorial</th>
            <th class="text-center">Precio</th>
            <th class="text-center">Estado</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>

      <!-- Tabla Editoriales -->
      <table datatable [dtOptions]="dtOptions" *ngIf="modo === 'editoriales'" 
            id="tablaEditoriales"
            class="table table-bordered table-hover table-striped" 
            style="border: 2px solid #6C8EBF;">
        <thead>
          <tr class="table-primary">
            <th></th>
            <th class="text-center">Nombre</th>
            <th class="text-center">Correo</th>
            <th class="text-center">Teléfono</th>
            <th class="text-center">Estado</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>

      <!-- Tabla Reservas -->
      <table datatable [dtOptions]="dtOptions" *ngIf="modo === 'reservas'" 
        id="tablaReservas"
        class="table table-bordered table-hover table-striped" 
        style="border: 2px solid #6C8EBF;">
        <thead>
          <tr class="table-primary">
            <th></th>
            <th class="text-center" title="Nombre del alumno">Nombre</th>
            <th class="text-center" title="Apellidos del alumno">Apellidos</th>
            <th class="text-center" title="Correo de contacto">Correo</th>
            <th class="text-center" title="Fecha de realización">Registrada</th>
            <th class="text-center" title="Estado">Verificación</th>
            <th class="text-center" title="Curso del alumno">Curso</th>
            <th class="text-center" title="Importe total de la reserva">Importe</th>
            <th class="text-center" title="Libros reservados">Libros</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>

    </div>
  </div>
</div>