<app-modal-nuevo [modo]="modo"></app-modal-nuevo>
<app-modal-editar [modo]="modo"></app-modal-editar>
<app-modal-filtro [modo]="modo"></app-modal-filtro>

<div class="d-flex">
    <div class="content w-100 p-5">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="mb-0">{{ modo | titlecase }}</h2>
            <div class="d-flex justify-content-end align-items-center gap-2 mb-2">
                <button class="btn btn-sm" data-bs-toggle="modal" [attr.data-bs-target]="'#filtro' + modo">
                    <i class="fas fa-search" style="font-size: 24px; color: blue;"></i>
                </button>
                <button class="btn btn-primary btn-sm" data-bs-toggle="modal" [attr.data-bs-target]="'#nuevo' + modo">
                    + Añadir {{ modo === 'libros' ? 'libro' : 'editorial' }}
                </button>
            </div>
        </div>

        <div class="table-container">
            <!-- Tabla Libros -->
            <table *ngIf="modo === 'libros'; else editoriales" class="table table-bordered table-hover table-striped" style="border: 2px solid #6C8EBF;">
                <thead>
                    <tr class="table-primary">
                        <th></th>
                        <th class="text-center">Nombre</th>
                        <th class="text-center">ISBN</th>
                        <th class="text-center">Editorial</th>
                        <th class="text-center">Precio</th>
                        <th class="text-center">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let libro of this.libros">
                        <td class="text-center">
                            <i class="fas fa-edit" style="color: blue;" data-bs-toggle="modal" [attr.data-bs-target]="'#editar' + modo"></i>
                        </td>
                        <td>{{ libro.nombre }}</td>
                        <td>{{ libro.isbn }}</td>
                        <td>{{ libro.editorial!.nombre }}</td>
                        <td>{{ libro.precio }}</td>
                        <td class="text-center">
                            <svg width="16" height="16">
                                <circle cx="8" cy="8" r="6" [attr.fill]="libro.estado ? 'green' : 'red'" />
                            </svg>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- Tabla editoriales -->
            <ng-template #editoriales>
            
                <table class="table table-bordered table-hover table-striped" style="border: 2px solid #6C8EBF;">
                    <thead>
                        <tr class="table-primary">
                            <th></th>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Correo</th>
                            <th class="text-center">Teléfono</th>
                            <th class="text-center">Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let editorial of this.editorialesA">
                            <td class="text-center">
                                <i class="fas fa-edit" style="color: blue;" data-bs-toggle="modal" [attr.data-bs-target]="'#editar' + modo"></i>
                            </td>
                            <td>{{ editorial.nombre }}</td>
                            <td>{{ editorial.correo }}</td>
                            <td>{{ editorial.telefono }}</td>
                            <td class="text-center">
                                <svg width="16" height="16">
                                    <circle cx="8" cy="8" r="6" [attr.fill]="editorial.estado ? 'green' : 'red'" />
                                </svg>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-template>

            <!-- Paginación -->
            <nav>
                <ul class="pagination justify-content-end">
                <li class="page-item active"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item disabled"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>