<aside class="bg-white border-end vh-100">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link text-dark ps-4" routerLink="crud/reservas">Reservas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark ps-4" routerLink="pedidos">Pedidos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark ps-4" data-bs-toggle="collapse" href="#gestionSubmenu" role="button" aria-expanded="false" aria-controls="gestionSubmenu">
                Gestión
            </a>
            <div class="collapse" id="gestionSubmenu">
                <ul class="nav flex-column ms-3 ps-1"> <li class="nav-item">
                        <a class="nav-link text-dark ps-4" routerLink="crud/libros">Libros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark ps-4" routerLink="crud/editoriales">Editoriales</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</aside>