<app-modal-content [options]="nuevoModalOptions" (okButtonClicked)="onSubmit()">
    <form *ngIf="modo === 'libros'; else nuevaEditorialModal" [formGroup]="formL">
        <div class="form-group my-2">
            <label for="bookName" class="fw-bold">Nombre</label>
            <input type="text" id="bookName" class="form-control" placeholder="Ingrese el nombre del libro" formControlName="nombre">
        </div>
        <div class="form-group my-2">
            <label for="isbn" class="fw-bold">ISBN</label>
            <input type="text" id="isbn" class="form-control" placeholder="Ingrese el ISBN" formControlName="isbn">
        </div>
        <div class="row my-2">
            <div class="col-lg-8 col-12">
                <label for="editorial" class="fw-bold">Editorial</label>
                <select id="editorial" class="form-select" formControlName="editorial">
                    <option [ngValue]="null">Seleccione una editorial</option>
                    <option *ngFor="let editorial of editoriales" [value]="editorial.idEditorial">
                        {{ editorial.nombre }}
                    </option>
                </select>
            </div>
    
            <div class="col-lg-4 col-12">
                <label for="price" class="fw-bold">Precio</label>
                <input type="number" id="price" class="form-control" placeholder="Ingrese el precio" step="0.01" min="1" formControlName="precio">
            </div>
        </div>
    </form>
    <ng-template #nuevaEditorialModal>
        <form [formGroup]="formE">
            <div class="form-group my-2">
                <label for="editorialName" class="fw-bold">Nombre</label>
                <input type="text" id="editorialName" class="form-control" placeholder="Ingrese el nombre de la editorial" formControlName="nombre">
            </div>
            
            <!-- Correos electrónicos -->
            <div class="form-group my-2">
                <label class="fw-bold">Correos electrónicos</label>
                <div formArrayName="correos">
                    <div *ngFor="let correo of getCorreosControls(); let i = index" class="mb-2">
                        <div class="input-group">
                            <span class="input-group-text">Correo {{i+1}}</span>
                            <input type="email" [formControlName]="i" class="form-control" placeholder="Ingrese el correo electrónico">
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Teléfonos -->
            <div class="form-group my-2">
                <label class="fw-bold">Teléfonos</label>
                <div formArrayName="telefonos">
                    <div *ngFor="let telefono of getTelefonosControls(); let i = index" class="mb-2">
                        <div class="input-group">
                            <span class="input-group-text">Teléfono {{i+1}}</span>
                            <input type="text" [formControlName]="i" class="form-control" placeholder="Ingrese el teléfono">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>
</app-modal-content>