<app-modal-nuevo [modo]="modo"></app-modal-nuevo>
<app-modal-editar [modo]="modo"></app-modal-editar>
<app-modal-filtro [modo]="modo"></app-modal-filtro>

<div class="d-flex">
    <div class="content w-100 p-5">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="mb-0">{{ modo | titlecase }}</h2>
            <div class="d-flex justify-content-end align-items-center gap-2 mb-2">
                <button class="btn btn-sm" data-bs-toggle="modal" [attr.data-bs-target]="'#filtro' + modo">
                    <i class="fas fa-search" style="font-size: 24px; color: blue;"></i>
                </button>
                <button class="btn btn-primary btn-sm" data-bs-toggle="modal" [attr.data-bs-target]="'#nuevo' + modo">
                    + Añadir {{ modo === 'libros' ? 'libro' : 'editorial' }}
                </button>
            </div>
        </div>

        <div class="table-container">
            <!-- Tabla Libros -->
            <table *ngIf="modo === 'libros'; else editoriales" class="table table-bordered table-hover" style="border: 2px solid #6C8EBF;">
                <thead>
                    <tr class="table-primary">
                        <th></th>
                        <th class="text-center">Nombre</th>
                        <th class="text-center">ISBN</th>
                        <th class="text-center">Editorial</th>
                        <th class="text-center">Precio</th>
                        <th class="text-center">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center"><i class="fas fa-edit" style="color: blue;" data-bs-toggle="modal" [attr.data-bs-target]="'#editar' + modo"></i></td>
                        <td>Lengua Castellana</td>
                        <td>978-0-12-345678-6</td>
                        <td>Anaya</td>
                        <td>29,99€</td>
                        <td class="text-center">
                            <svg width="16" height="16">
                                <circle cx="8" cy="8" r="6" fill="green" />
                            </svg>
                        </td>
                    </tr>
                    <tr class="table-primary">
                        <td class="text-center"><i class="fas fa-edit" style="color: blue;" data-bs-toggle="modal" [attr.data-bs-target]="'#editar' + modo"></i></td>
                        <td>Lengua Castellana</td>
                        <td>978-1-23-456789-7</td>
                        <td>Edelvives</td>
                        <td>39,99€</td>
                        <td class="text-center">
                            <svg width="16" height="16">
                                <circle cx="8" cy="8" r="6" fill="green" />
                            </svg>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"><i class="fas fa-edit" style="color: blue;" data-bs-toggle="modal" [attr.data-bs-target]="'#editar' + modo"></i></td>
                        <td>Lengua Castellana</td>
                        <td>978-2-98-765432-9</td>
                        <td>Anaya</td>
                        <td>19,95€</td>
                        <td class="text-center">
                            <svg width="16" height="16">
                                <circle cx="8" cy="8" r="6" fill="green" />
                            </svg>
                        </td>
                    </tr>
                    <tr class="table-primary">
                        <td class="text-center"><i class="fas fa-edit" style="color: blue;" data-bs-toggle="modal" [attr.data-bs-target]="'#editar' + modo"></i></td>
                        <td>Lengua Castellana</td>
                        <td>0-306-40615-2</td>
                        <td>SM</td>
                        <td>59,99€</td>
                        <td class="text-center">
                            <svg width="16" height="16">
                                <circle cx="8" cy="8" r="6" fill="green" />
                            </svg>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"><i class="fas fa-edit" style="color: blue;" data-bs-toggle="modal" [attr.data-bs-target]="'#editar' + modo"></i></td>
                        <td>Lengua Castellana</td>
                        <td>1-234-56789-X</td>
                        <td>Arán</td>
                        <td>45,99€</td>
                        <td class="text-center">
                            <svg width="16" height="16">
                                <circle cx="8" cy="8" r="6" fill="green" />
                            </svg>
                        </td>
                    </tr>
                    <tr class="table-primary">
                        <td class="text-center"><i class="fas fa-edit" style="color: blue;" data-bs-toggle="modal" [attr.data-bs-target]="'#editar' + modo"></i></td>
                        <td>Matemáticas aplicadas</td>
                        <td>978-2-98-765432-9</td>
                        <td>SM</td>
                        <td>35,99€</td>
                        <td class="text-center">
                            <svg width="16" height="16">
                            <circle cx="8" cy="8" r="6" fill="red" />
                            </svg>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"><i class="fas fa-edit" style="color: blue;" data-bs-toggle="modal" [attr.data-bs-target]="'#editar' + modo"></i></td>
                        <td>Ciencias Sociales</td>
                        <td>978-8-44-868377-6</td>
                        <td>Santillana</td>
                        <td>38,99€</td>
                        <td class="text-center">
                            <svg width="16" height="16">
                            <circle cx="8" cy="8" r="6" fill="red" />
                            </svg>
                        </td>
                    </tr>
                    <tr class="table-primary">
                        <td class="text-center"><i class="fas fa-edit" style="color: blue;" data-bs-toggle="modal" [attr.data-bs-target]="'#editar' + modo"></i></td>
                        <td>Biología y Geología</td>
                        <td>978-8-46-984252-0</td>
                        <td>Vicens Vives</td>
                        <td>25,49€</td>
                        <td class="text-center">
                            <svg width="16" height="16">
                            <circle cx="8" cy="8" r="6" fill="red" />
                            </svg>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"><i class="fas fa-edit" style="color: blue;" data-bs-toggle="modal" [attr.data-bs-target]="'#editar' + modo"></i></td>
                        <td>Inglés</td>
                        <td>978-84-678-7410-5</td>
                        <td>Oxford Educación</td>
                        <td>29,95€</td>
                        <td class="text-center">
                            <svg width="16" height="16">
                            <circle cx="8" cy="8" r="6" fill="red" />
                            </svg>
                        </td>
                    </tr>
                    <tr class="table-primary"> 
                        <td class="text-center"><i class="fas fa-edit" style="color: blue;" data-bs-toggle="modal" [attr.data-bs-target]="'#editar' + modo"></i></td>
                        <td>Física y Química</td>
                        <td>978-84-682-1741-6</td>
                        <td>Casals</td>
                        <td>39,99€</td>
                        <td class="text-center">
                            <svg width="16" height="16">
                            <circle cx="8" cy="8" r="6" fill="red" />
                            </svg>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"><i class="fas fa-edit" style="color: blue;" data-bs-toggle="modal" [attr.data-bs-target]="'#editar' + modo"></i></td>
                        <td>Historia del Mundo Contemporáneo</td>
                        <td>978-84-489-5051-1</td>
                        <td>Teide</td>
                        <td>29,99€</td>
                        <td class="text-center">
                            <svg width="16" height="16">
                            <circle cx="8" cy="8" r="6" fill="red" />
                            </svg>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- Tabla editoriales -->
            <ng-template #editoriales>
            
                <table class="table table-bordered table-hover" style="border: 2px solid #6C8EBF;">
                    <thead>
                        <tr class="table-primary">
                            <th></th>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Correo</th>
                            <th class="text-center">Teléfono</th>
                            <th class="text-center">Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center"><i class="fas fa-edit" style="color: blue;" data-bs-toggle="modal" [attr.data-bs-target]="'#editar' + modo"></i></td>
                            <td>SM</td>
                            <td>sm_educacion@grupo-sm.com</td>
                            <td>91 422 00 11</td>
                            <td class="text-center">
                                <svg width="16" height="16">
                                    <circle cx="8" cy="8" r="6" fill="green" />
                                </svg>
                            </td>
                        </tr>
                        <tr class="table-primary">
                            <td class="text-center"><i class="fas fa-edit" style="color: blue;" data-bs-toggle="modal" [attr.data-bs-target]="'#editar' + modo"></i></td>
                            <td>Anaya Educación</td>
                            <td>- - -</td>
                            <td>91 393 91 00</td>
                            <td class="text-center">
                                <svg width="16" height="16">
                                    <circle cx="8" cy="8" r="6" fill="green" />
                                </svg>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center"><i class="fas fa-edit" style="color: blue;" data-bs-toggle="modal" [attr.data-bs-target]="'#editar' + modo"></i></td>
                            <td>Santillana</td>
                            <td>contacto@santillana.com</td>
                            <td>- - -</td>
                            <td class="text-center">
                                <svg width="16" height="16">
                                    <circle cx="8" cy="8" r="6" fill="green" />
                                </svg>
                            </td>
                        </tr>
                        <tr class="table-primary">
                            <td class="text-center"><i class="fas fa-edit" style="color: blue;" data-bs-toggle="modal" [attr.data-bs-target]="'#editar' + modo"></i></td>
                            <td>Vicens Vives</td>
                            <td>info@vicensvives.es</td>
                            <td>93 218 95 66</td>
                            <td class="text-center">
                                <svg width="16" height="16">
                                    <circle cx="8" cy="8" r="6" fill="green" />
                                </svg>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center"><i class="fas fa-edit" style="color: blue;" data-bs-toggle="modal" [attr.data-bs-target]="'#editar' + modo"></i></td>
                            <td>Edelvives</td>
                            <td>atencionclientes@edelvives.es</td>
                            <td>- - -</td>
                            <td class="text-center">
                                <svg width="16" height="16">
                                    <circle cx="8" cy="8" r="6" fill="green" />
                                </svg>
                            </td>
                        </tr>
                        <tr class="table-primary">
                            <td class="text-center"><i class="fas fa-edit" style="color: blue;" data-bs-toggle="modal" [attr.data-bs-target]="'#editar' + modo"></i></td>
                            <td>Bruño</td>
                            <td>- - -</td>
                            <td>91 347 67 00</td>
                            <td class="text-center">
                                <svg width="16" height="16">
                                <circle cx="8" cy="8" r="6" fill="red" />
                                </svg>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center"><i class="fas fa-edit" style="color: blue;" data-bs-toggle="modal" [attr.data-bs-target]="'#editar' + modo"></i></td>
                            <td>Casals</td>
                            <td>info@editorialcasals.com</td>
                            <td>- - -</td>
                            <td class="text-center">
                                <svg width="16" height="16">
                                <circle cx="8" cy="8" r="6" fill="red" />
                                </svg>
                            </td>
                        </tr>
                        <tr class="table-primary">
                            <td class="text-center"><i class="fas fa-edit" style="color: blue;" data-bs-toggle="modal" [attr.data-bs-target]="'#editar' + modo"></i></td>
                            <td>Teide</td>
                            <td>info@edicionesteide.es</td>
                            <td>93 432 69 00</td>
                            <td class="text-center">
                                <svg width="16" height="16">
                                <circle cx="8" cy="8" r="6" fill="red" />
                                </svg>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center"><i class="fas fa-edit" style="color: blue;" data-bs-toggle="modal" [attr.data-bs-target]="'#editar' + modo"></i></td>
                            <td>Oxford Educación</td>
                            <td>- - -</td>
                            <td>91 126 38 10</td>
                            <td class="text-center">
                                <svg width="16" height="16">
                                <circle cx="8" cy="8" r="6" fill="red" />
                                </svg>
                            </td>
                        </tr>
                        <tr class="table-primary"> 
                            <td class="text-center"><i class="fas fa-edit" style="color: blue;" data-bs-toggle="modal" [attr.data-bs-target]="'#editar' + modo"></i></td>
                            <td>McGraw-Hill</td>
                            <td>clientes@mheducation.com</td>
                            <td>- - -</td>
                            <td class="text-center">
                                <svg width="16" height="16">
                                <circle cx="8" cy="8" r="6" fill="red" />
                                </svg>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center"><i class="fas fa-edit" style="color: blue;" data-bs-toggle="modal" [attr.data-bs-target]="'#editar' + modo"></i></td>
                            <td>Arán</td>
                            <td>- - -</td>
                            <td>91 782 00 30</td>
                            <td class="text-center">
                                <svg width="16" height="16">
                                <circle cx="8" cy="8" r="6" fill="red" />
                                </svg>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-template>

            <!-- Paginación -->
            <nav>
                <ul class="pagination justify-content-end">
                <li class="page-item active"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item disabled"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>