<section class="vh-100 vw-100" style="background-color: #006ea4;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-6">
                <div class="card shadow" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <h2 class="mb-5">Bienvenido a Reservas de Libros</h2>
                        <img [src]="enviroment.pathImg + 'logotipo.png'" alt="Logo" class="img-fluid mb-4" style="max-width: 200px;">
                        
                        <div *ngIf="isLoading" class="d-flex justify-content-center mb-3">
                            <div class="spinner-border text-primary" role="status">
                                <span class="visually-hidden">Cargando...</span>
                            </div>
                        </div>

                        <div *ngIf="errorMessage" class="alert alert-danger mb-4" role="alert">
                            {{ errorMessage }}
                        </div>
                        
                        <!-- Contenedor simplificado para la inicialización JavaScript -->
                        <div class="g_id_signin d-flex justify-content-center mt-4"></div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
