<section class="vh-100" style="background-color: #006ea4;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-6">
                <div class="card shadow" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <h2 class="mb-5">Bienvenido a Reservas de Libros</h2>
                        <img [src]="enviroment.pathImg + 'logotipo.png'" alt="Logo" class="img-fluid mb-4" style="max-width: 200px;">
                        
                        <button class="btn btn-lg btn-block w-100 mb-3" style="background-color: #fff; color: #444; border: 1px solid #ddd;">
                            <img [src]="enviroment.pathImg + 'google.png'" alt="Google" class="me-3 w-auto"  style="height: 30px;">
                            Iniciar sesión con Google
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
