<app-modal-content [options]="modalGestionReservasOption">
    <form>
        <div class="mb-3">
            <label for="fechaInicio" class="form-label">Fecha de Inicio</label>
            <input type="date" id="fechaInicio" name="fechaInicio" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="fechaFin" class="form-label">Fecha de Fin</label>
            <input type="date" id="fechaFin" name="fechaFin" class="form-control" required>
        </div>
    </form>
</app-modal-content>